.button_list {
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 999;
    border-radius: 20px 0 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #ccc;
    width: max-content;
    padding: 5px 30px;
}
.button_list a.nav-link {
    text-align: center;
    color: black;
    padding: unset;
    transition: 0.5s;
    font-size: 1.8rem;
}
.button_list a.nav-link img {
    max-width: 10vw;
    max-height: 10vw;
    transition: 0.5s;
}

.button_list .img-container {
    max-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}