#product-list .img-container {
    max-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-list .img-container img {
    max-width: 100%;
    width: 100%;
}
#product-list .info-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 2rem;
}
#product-list .info-container .price::before {
    content: "$";
}
#product-list .info-window {
    display: none;
    background: rgb(0, 0, 0, 50%);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#product-list .info-window img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    max-width: 80vw;
}

@media (max-width: 1200px) {
    #product-list .img-container {
        max-height: 300px;
    }
}
@media (max-width: 992px) {
    #product-list .img-container {
        max-height: 320px;
    }
}
@media (max-width: 768px) {
    #product-list .img-container {
        max-height: 250px;
    }
}
@media (max-width: 500px) {
    #product-list .img-container {
        max-height: 220px;
    }
}