header {
    background: #FFFFFF;
}
header > .container {
    background: #FFFFFF;
}
header .page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}
header div.img-container {
    max-height: 100px;
    align-items: baseline;
    margin-top: -0.5rem;
    transition: 0.5s;
}
header div.img-container img {
    max-width: 120px;
    transition: 0.5s;
}
header a.nav-link {
    text-align: center;
    color: black;
    padding: 0 10px;
}
header a.nav-link img {
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

header .img-container, 
#menu_list .img-container {
    max-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_list .img-container img {
    max-width: 100%;
    width: 100%;
}
#menu_list .info-container p {
    padding: 15px 0;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    header.scrolled {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
        box-shadow: 0px 0px 10px 0px #DDDDDD;
    }
    header.scrolled div.img-container {
        max-height: 68px;
    }
    header.scrolled div.img-container img {
        max-width: 80px;
    }
    header.scrolled a.nav-link {
        font-size: 0.8rem;
    }
    header.scrolled a.nav-link img {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 1200px) {
    #menu_list .img-container {
        max-height: 300px;
    }
}
@media (max-width: 992px) {
    #menu_list .img-container {
        max-height: 320px;
    }
}
@media (max-width: 768px) {
    #menu_list .img-container {
        max-height: 250px;
    }
}
@media (max-width: 500px) {
    #menu_list .img-container {
        max-height: 220px;
    }
}